[submodule "reto-semana-01"]
	path = reto-semana-01
	url = https://github.com/Nanoldo/reto-semana-01
[submodule "reto-semana-02"]
	path = reto-semana-02
	url = https://github.com/Nanoldo/reto-semana-02
[submodule "reto-semana-03"]
	path = reto-semana-03
	url = https://github.com/Nanoldo/reto-semana-03
[submodule "reto-semana-04"]
	path = reto-semana-04
	url = https://github.com/Nanoldo/reto-semana-04
[submodule "reto-semana-05"]
	path = reto-semana-05
	url = https://github.com/Nanoldo/reto-semana-05
[submodule "reto-semana-06"]
	path = reto-semana-06
	url = https://github.com/Nanoldo/reto-semana-06
